@font-face {
    font-family: Graphik;
    src: url(fonts/Graphik-Semibold.otf);
}

body {
  background:#fbcfbd;
  font-family: 'Graphik', sans-serif;
  font-weight: 100;
  margin:0;
  text-align: center;
  color:#f0563c;
  pointer-events: none;
  cursor: default;

}

h1 {
  font-size: 56px;
  padding-top: 30px;
  padding-bottom: 0px;
  margin:0px;
  font-weight: 100;
  text-transform: uppercase;
}

p {
  padding-top: 30px;
  line-height:1.3;
  font-size:30px;
  font-weight: 100;
  padding-bottom:20px;
}

#container {

 margin: 0 auto; 
 width: 1500px;
}

#timeline1, #timeline2, #timeline3 {
  display:inline-block;
}


/*.twitter-timeline {
  margin-left:150px;
  margin-right:150px;
  position: absolute;
  padding: 10px;
}
*/
